.cart-container{
    padding: 25px;
}

.cart-line-items{
    text-align: start;
}

.cart-header{
    background-color: #222;
    color: white;
}
.cart-item{
    display: grid;
    grid-template-columns: 1fr 80px 80px 80px;
    align-items: center;
    margin-bottom: 5px;
}
.cart-item h3{
    padding: 3px;
}
.cart-item p{
    padding: 3px;
}
.cart-item .price{
    text-align: right;
    padding-right: 8px;
}
.cart-item .quantity{
    text-align: center;
}
.cart-total{
    display: flex;
}