.cart-container{
    padding: 25px;
}

.cart-line-items{
    text-align: start;
}

.cart-header{
    background-color: #222;
    color: white;
}

.cart-total{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart-total button{
    margin-left: 10px;
}